<%- include('partials/header.ejs') %>
<div class="text-center">
    <h1 class="my-5 text-5xl font-semibold">Americans Brewery in Your Area</h1>
    <% if (locals.name || locals.city || locals.state || locals.country ||locals.web || locals.postalCode) { %>
        <div class="mt-12 bg-[#fb923c] w-fit mx-auto p-5 rounded-md">
            <h1><span class="font-semibold text-xl">Brewery Name:</span><br /><span class="text-lg"><%= name %></span></h1><br />
            <h1><span class="font-semibold text-xl">State:</span><br /><span class="text-lg"><%= state %></span></h1><br />
            <h1><span class="font-semibold text-xl">City:</span><br /><span class="text-lg"><%= city %></span></h1><br />
            <h1><span class="font-semibold text-xl">Postal Code:</span><br /><span class="text-lg"><%= postalCode %></span></h1><br />
            <h1><span class="font-semibold text-xl">Website:</span><br /><span class="text-lg"><%= web %></span></h1>
        </div>
    <% }%>
    
    <form method="post" class="my-5">
        <div class="w-1/4 mx-auto">
            <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="State" name="state">
        </div>
        <div class="grid grid-cols-2 w-fit mx-auto my-5">
            <input class="mx-5 transition ease-in-out duration-300 bg-transparent hover:bg-[#f59e0b] text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded" type="submit" value="Random Brewery Search" formaction="get-random">
            <input class="mx-5 transition ease-in-out duration-300 bg-transparent hover:bg-[#f59e0b] text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent rounded" type="submit" value="Search By State" formaction="get-by-state">
        </div>
    </form>
</div>
<%- include('partials/footer.ejs') %>